<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Convertir EVTX</title>
    <link rel="shortcut icon" type="image/png" href="./static/img/favicon.png" />
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="page-container">
        <img class="logo" src="./static/img/favicon.png" alt="Logo" />
        <div class="left-side">
            <h2>Téléversez un fichier EVTX pour la conversion</h2>
            </div>
        </div>
   
   <div class="right-side ">
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <select name="format">
            <option value="json">JSON</option>
            <option value="csv">CSV</option>
            <option value="xml">XML</option>
        </select>
        <button type="submit">Convertir</button>
    </form>
    <div id="loading_indicator" style="display: none;">
        <!-- Icône de chargement -->
        <img class = "loader" src="./static/img/chargement.gif" alt="Chargement en cours...">
        <p>Conversion en cours...</p>
    </div>
    </div>

    
    </div>
    <script src="scripts.js"></script>
</body>
<footer>
    <small>Copyright © 2024  Battiatus © Ayaros-technology. Tous droits réservés.</small>
  </footer>
</html>
